<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Johnathan Williams</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'softDev/css/Resume.css' %}">
</head>
<body>
    <div id="page-container">
        <nav class="navbar navbar-expand-sm fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Johnathan Williams</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home' %}"> Home </a></li>
                    <li><a href="{% url 'about' %}"> About Me </a></li>
                    <li><a href="{% url 'resume' %}"> Resume </a></li>
                    <li><a href="{% url 'workshop' %}"> The Workshop </a></li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <div class="containers" id="index">
                <h2>Resume</h2>
                <div class="frames">
                    <button class="main-button" id="one" type ="button">Languages and Frameworks</button>
                    <div class="clickables" id="LangFrames">
                        <button class="text-button" id="FELs">Front End Essentials</button>
                        <div class="clickables" id="FELangs">
                            <ul>
                                <li>HTML 5</li>
                                <li>CSS 3</li>
                                <li>JavaScript</li>
                                <li>Bootstrap</li>
                            </ul>
                        </div>
                        <button class="text-button" id="sharp">C#</button>
                        <div class="clickables" id="cSharp">
                            <ul>
                                <li>ASP/.NET</li>
                                <li>Entity Framework Core</li>
                                <li>LINQ</li>
                                <li>Basic Unity knowledge</li>
                                <li>Some exposure to Xamarin</li>
                            </ul>
                        </div>
                        <button class="text-button" id="snake">Python</button>
                        <div class="clickables" id="python">
                            <ul>
                                <li>Flask</li>
                                <li>Django</li>
                                <li>Some exposure to Kivy</li>
                            </ul>
                        </div>
                        <button class="text-button" id="js">JavaScript</button>
                        <div class="clickables" id="javascript">
                            <ul>
                                <li>MongoDB</li>
                                <li>Express</li>
                                <li>Angular 6</li>
                                <li>Node</li>
                                <li>JQuery</li>
                            </ul>
                        </div>
                        <button class="text-button" id="currently">Currently Studying</button>
                        <div class="clickables" id="studying">
                            <ul>
                                <li>iOS Swift</li>
                                <li>Java</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="frames">
                    <button class="main-button" id="two" type = "button">Databases</button>
                    <div class="clickables" id="DBs">
                        <button class="text-button" id="SQL">SQL</button>
                        <div class="clickables" id="SQLs">
                            <ul>
                                <li>MySQL</li>
                                <li>NoSQL</li>
                                <li>SQL Lite</li>
                            </ul>
                        </div>
                        <button class="text-button" id="mongo">MongoDB</button>
                    </div>
                </div>
                <div class="frames">
                        <button class="main-button" id="three" type = "button">Methodologies</button>
                        <div class="clickables" id="methods">
                            <ul>
                                <li>Strong understanding of OOP</li>
                                <li>Familiar with MVC/MTV file organizations</li>
                                <li>Responsive Design with a "Mobile-first mindset"</li>
                                <li>Comfortable with using and making RESTful APIs</li>
                            </ul>
                        </div>
                </div>

                <div class="frames">
                        <button  class="main-button" id="four" type = "button">Other Tech-Related Skills</button>
                        <div class="clickables" id="others">
                            <ul>
                                <li>Deployment with AWS - EC2</li>
                                <li>GitHub familiarity</li>
                                <li>Comfortable with Windows and iOS environments</li>
                                <li>IDE of choice: VS Code. Familiar with Visual Studio, and Xcode.</li>
                                <li>Familiar with MySQL Workbench</li>
                            </ul>
                        </div>
                </div>


                <div class="frames">
                    <button class="main-button" id="five" type = "button">Background</button>
                    <div class="clickables" id="background">
                        <button class="text-button" type="button" id="jobs">Work History</button>
                        <div class="clickables" id="work-history">
                            <h5>Susan Miller Dorsey High School</h5>
                            <div id="Dorsey">
                                <h6>Biology Teacher (April 2017 - June 2019)</h6>
                                <p>As a teacher, I played many roles at once. My main duty was to prepare lessons in alignment with the Next Generation Science Standards (NGSS); but some of the other roles I filled to help my students included:</p>
                                <ul>
                                    <li><strong>A counselor</strong> by looking through my students' transcripts and explaining what they needed to do to stay on track, or to catch up.</li>
                                    <li><strong>A therapist</strong> by always making myself available to them to talk through their problems, and offer them the best advice that benefitted them.</li>
                                    <li><strong>An interpretor</strong>. We had a new student check in to our school from Belarus, and I was the only Russian-speaking person on campus, so I helped enroll him.</li>
                                    <li><strong>An older brother/mentor</strong> by generally being there for them by telling them what they needed to hear, even if it wasn't what they wanted to hear. I would even have conferences with their other teachers with them present to come up with plans to help them succeed if they were struggling.</li>
                                </ul> 
                                <p>My driving belief was that I was there to do what was best for my students. In education, they are the clients, and I was always willing to go above and beyond for them.</p>
                                <p>Day to day, I was very flexible, and easily adapted to the many variables that each day could bring, all while maintaining a positive demeanor, and professionalism at all times. As a teacher, I experienced a lot of professional and personal growth by learning from my students, as they were learning from me.</p>
                                <button class="text-button" type="button" id="prizes">Awards</button>
                                <div class="clickables" id="awards">
                                        <img src="{% static 'softDev/images/TeachingAward1.jpg' %}" alt="Johnathan Williams's teaching award for exemplory performance.">
                                        <img src="{% static 'softDev/images/TeachingAward2.jpg' %}" alt="Johnathan Williams's teaching award, recieved for being nominated by a student-athlete for making a positive impact.">
                                </div>
                            </div>
                            <br>
                            <hr>
                            <br>
                            <h5>Blaze PR</h5>
                            <div id="Blaze">
                                <h6>Account Coordinator Intern (October 2016 - January 2017)</h6>
                                <p>As an intern, my role was to assist the account manager with various tasks, such as:</p>
                                <ul>
                                    <li>researching relevant social media influencers to promote brands</li>
                                    <li>researching relevant audiences for clients</li>
                                    <li>writing press releases</li>
                                    <li>helping with event planning</li>
                                    <li>social media management</li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <button class="text-button" type="button" id="edu">Education</button>
                        <div class="clickables" id="education">
                            <h5>Coding Dojo</h5>
                            <p>June 2019 - September 2019</p>
                            <div id="Coding-Dojo">
                                <img src="{% static 'softDev/images/Certificate.jpg' %}" alt="Certificate of completion from Coding Dojo.">
                            </div>
                            <br>
                            <hr>
                            <br>
                            <h5>University of North Carolina at Charlotte</h5>
                            <p>August 2011 - August 2016</p>
                            <div id="UNCC">
                                <img src="{% static 'softDev/images/Degree.jpg' %}" alt="Communication degree from University of North Carolina at Charlotte.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <footer>
            <p>Johnathan Williams 2019 </p>
            <a href="https://www.linkedin.com/in/johnwill52" target="_blank"><img src="{% static 'softDev/images/LinkedInEmblem.png' %}" alt="Linked In Profile Link"></a>
        </footer>
    </div>
    <script> 
    $(document).ready(function(){
        $('.clickables').hide();

        $('.main-button').mouseenter(function(){
            $(this).addClass("hover");
            $(this).mouseleave(function(){
                $(this).removeClass("hover");
            })
        })

        $('.text-button').mouseenter(function(){
            $(this).addClass("other-hover");
            $(this).mouseleave(function(){
                $(this).removeClass("other-hover");
            })
        })
        $('#prizes').mouseenter(function(){
            $(this).addClass("other-hover");
            $(this).mouseleave(function(){
                $(this).removeClass("other-hover");
            })
        })
        

        $('#one').click(function(){
            $('#LangFrames').toggle();
            $('#FELangs').toggle();
            $('#cSharp').toggle();
            $('#python').toggle();
            $('#javascript').toggle();
            $('#studying').toggle();
        })

        $('#two').click(function(){
            $('#DBs').toggle();
            $('#SQLs').toggle();
        })
        $('#three').click(function(){
            $('#methods').toggle();
        })
        $('#four').click(function(){
            $('#others').toggle();
        })
        $('#five').click(function(){
            $('#background').toggle();
            $('#work-history').toggle();
            $('#awards').toggle();
            $('#education').toggle();
        })
        $('#FELs').click(function(){
            $('#FELangs').toggle();
        })
        $('#sharp').click(function(){
            $('#cSharp').toggle();
        })
        $('#snake').click(function(){
            $('#python').toggle();
        })
        $('#js').click(function(){
            $('#javascript').toggle();
        })
        $('#currently').click(function(){
            $('#studying').toggle();
        })
        $('#SQL').click(function(){
            $('#SQLs').toggle();
        })
        $('#jobs').click(function(){
            $('#work-history').toggle();
        })
        $('#prizes').click(function(){
            $('#awards').toggle();
        })
        $('#edu').click(function(){
            $('#education').toggle();
        })
    });
    </script>
    </body>
    </html>
    