<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Johnathan Williams</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'softDev/css/Workshop.css' %}">
</head>
<body>
    <div id="page-container">
        <nav class="navbar navbar-expand-sm fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Johnathan Williams</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home' %}"> Home </a></li>
                    <li><a href="{% url 'about' %}"> About Me </a></li>
                    <li><a href="{% url 'resume' %}"> Resume </a></li>
                    <li><a href="{% url 'workshop' %}"> The Workshop </a></li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <div class="containers">
                <h1>Good things coming soon!</h1>
                <!-- <h2>Welcome!</h2>
                <div class="frames">
                    Put a professional image here.
                </div>
                <div class="frames">
                    <p>
                        "Hello World!" and welcome to my personal page. Here, you'll have plenty of information to help us get started with a conversation about how I may be of assistance to you.
                        I'm a full-stack web developer in Python (Django/Flask frameworks), C# (ASP/.NET, Entity Framework Core), and JavaScript (MEAN stack).
                        Along with web development, I'm also interested in game and app development, and will be adding projects to the <a href="{% url 'workshop' %}">workshop</a> as I make them.
                        Feel free to look around, and get to know a bit about me, and if you have any questions, feel free to send me an <a>email</a>.
                    </p> 
                </div> -->
            </div>
        </div>  
        <footer>
                <p>Johnathan Williams 2019 </p>
                <a href="https://www.linkedin.com/in/johnwill52" target="_blank"><img src="{% static 'softDev/images/LinkedInEmblem.png' %}" alt="Linked In Profile Link"></a>
        </footer>
    </div>
    </body>
    </html>
    