:root{
    --main-page-color-1: black;
    --second-page-color-1: rgb(85, 0, 0);
    --third-page-color-1: White;
    --titles-font-color-1: white;
    --paragraph-font-color-1: #555555;

}
body{
    background-color: #000;
}
#page-container{
    min-width: 360px;
    background-color: black;
    min-height: 100vh;
    overflow: scroll;
}
nav{
    background-color: var(--main-page-color-1);
    margin:0px auto;
    width: 100%;
    /* border: solid white 2px; */
    min-width: 350px;
}

li{
    margin: 0px 15px;
}

.navbar-brand{
    font-size: 2.5em;
    color: white;
}

.containers > h2{
    font-size: 2.25em;
    text-decoration-line: underline;   
}
#demo{
    width:50%;
    height: inherit;
    min-height: 350px;
    margin: 10px auto 10px auto;
}
.carousel-item > img{
    background-color: white;
    border: solid white 5px;
    width: 75%;
    min-height: 350px;
    max-height: 725px;
}
.carousel-caption{
    color: var(--second-page-color-1);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px;
    margin: 0px auto;

}
.main-button{
    background-color: var(--second-page-color-1);
    color: white;
    border: none;
    font-size: 2em;
    /* border: solid white 2px; */
    padding:0px;
    margin: 10px 0px;
}
.hover{
    border: solid 2px white;
    background-color: white;
    color: var(--second-page-color-1);
    padding:0px
}
.containers{
    font-size: 1.25em;
    position: relative;
    top: 90px;
    /* border: solid white 2px; */
    margin: 0px auto 38px auto;
    width: 99%;
    height: inherit;
    text-align: center;
    background-color: var(--second-page-color-1);
    padding: 15px 20px 15px 10px;
    color: var(--titles-font-color-1);
}
.frames{
    width: 90%;
    min-width: 150px;
    /* display: inline-block; */
    margin: 15px auto;
    background-color: var(--second-page-color-1);
    padding: 0px;
    /* border: solid White 2px; */
    color: var(--paragraph-font-color-1); 
    vertical-align: top;
    text-align: left;
}

.clickables{
    background-color: white;
    width: 100%;
    color: black;
    padding: 15px;
}

.clickabes > p{
    width: 50%;
}



#info{
    width: 95%;
    min-width: 150px;
    display: inline-block;
    margin: 15px auto;
    background-color: white;
    padding: 25px 0px;
    /* border: solid white 2px; */
    color: black; 
    vertical-align: top;
}

#info > p{
    width: 90%;
    margin: 0px auto;
    text-align: left;
    line-height: 2em;
}

hr{
    color: black;
}

footer{
    position: fixed;
    bottom:0%;
    width:100%;
    min-width: 360px;
    height: inherit;
    text-align: center;
    background-color: var(--main-page-color-1);
    padding: 5px 10px;
    color: var(--titles-font-color-1);
    /* border: solid white 2px; */
    margin: 0px auto;
    z-index: 1;
}
footer > p{
    display: inline;
    margin: 0px 15px;
    font-size: .75em;
}
a > img{
    width: .75em;
    height: .75em;
}

@media only screen and (max-width: 999px) {
    .carousel-caption{
        display: none;
    }

}
@media only screen and (max-width: 749px) {
    #demo{
        width:90%;
        height: inherit;
        min-height: 350px;
        margin: 10px auto 10px auto;
    }

}
@media only screen and (max-width: 684px) {
    nav{
        width: 100%;
    }
    .navbar-brand{
        font-size: 2.25em;
        color: white;
    }
    .containers{
        font-size: 1em;
        top: 84px;
        text-align: center;
        background-color: var(--second-page-color-1);
        padding: 15px 10px;
        color: var(--titles-font-color-1);
        width: 100%;
    }
    #demo{
        width:90%;
        height: inherit;
        min-height: 350px;
        margin: 10px auto 10px auto;
    }

    
    footer{
        width:100%;
    }

    #pics > img {
        width: 98%;
        margin: 10px auto;
        border: solid white 10px;
    }
    
}


@media only screen and (max-width: 611px) {
    nav{
        width: 100%;
    }
    .navbar-brand{
        font-size: 2em;
        color: white;
    }
    .containers{
        font-size: 1em;
        top: 78px;
        text-align: center;
        background-color: var(--second-page-color-1);
        padding: 15px 10px;
        color: var(--titles-font-color-1);
        width: 100%;
    }
    
    .contact{
        width: 90%;
        min-width: 150px;
        display: inline-block;
        margin: 15px auto;
        background-color: white;
        padding: 15px;
        border: solid black 2px; 
        height: 435px;
        color: var(--paragraph-font-color-1);
    }
    
    footer{
        width:100%;
    }

    #pics > img {
        width: 98%;
        margin: 10px auto;
        border: solid white 10px;
    }
    
}

@media only screen and (max-width: 597px) {
    nav{
        width: 100%;
    }
    .navbar-brand{
        font-size: 2em;
        color: white;
    }
    .containers{
        font-size: 1em;
        top: 78px;
        text-align: center;
        background-color: var(--second-page-color-1);
        padding: 15px 10px;
        color: var(--titles-font-color-1);
        width: 100%;
    }


    
    footer{
        width:100%;
    }

    
}

@media only screen and (max-width: 575px) {
    nav{
        width: 100%;
    }
    #demo{
        width:95%;
        height: inherit;
        min-height: 350px;
        margin: 10px auto 10px auto;
    }
    .navbar-brand{
        font-size: 2em;
        color: white;
    }
    .containers{
        font-size: 1em;
        top: 116px;
        text-align: center;
        background-color: var(--second-page-color-1);
        padding: 15px 10px;
        color: var(--titles-font-color-1);
        width: 100%;
    }

    
    footer{
        width:100%;
    }

    
}

@media only screen and (max-width: 520px) {

    #demo{
        width:90%;
        height: inherit;
        min-height: 350px;
        margin: 10px auto 10px auto;
    }
    #info{
        width: 90%;
    }

    
}

@media only screen and (max-width: 457px) {
    nav{
        width: 100%;
    }
    .navbar-brand{
        font-size: 2em;
        color: white;
    }
    .containers{
        font-size: 1em;
        top: 174px;
        text-align: center;
        background-color: var(--second-page-color-1);
        padding: 15px 10px;
        color: var(--titles-font-color-1);
        width: 100%;
    }
    #demo{
        width:99%;
        height: inherit;
        min-height: 350px;
        margin: 10px auto 10px auto;
    }
    .carousel-item > img{
        background-color: white;
        border: solid white 5px;
        width: 90%;
        min-height: 350px;
        max-height: 725px;
    }

    #info{
        width: 90%;
    }
    #Why{
        font-size: 1.5em;
    }

    footer{
        width:100%;
    }
    
}